<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="ui fixed inverted menu ">
        <div class="ui container">
            <a class="header item" href="/">React</a>

            <a class="item" href="/Customer/Index">Customers</a>
            <a class="item" href="/Product/Index">Products</a>
            <a class="item" href="/Store/Index">Stores</a>
            <a class="item" href="/Sales/Index">Sales</a>
        </div>
    </div>

    <div class="container body-content">
        <br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <link rel="stylesheet" type="text/css" href="~/Scripts/react/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/react/semantic/dist/semantic.min.js"></script>

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>