<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/16aaacf6-91d7-43e1-9715-414d2443a309/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/TalentOnboardingRW</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://talentonboardingrw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>talentonboardingrw.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TalentOnboardingRW</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TalentOnboardingRW</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OnboardingContext" Order="1" Enabled="False">
          <Destination Path="Data Source=mvpserverrw.database.windows.net;Initial Catalog=OnboardingDB;User ID=westr;Password=22Baker1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ReactOnboarding.Models.OnboardingContext, ReactOnboarding" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OnboardingDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mvpserverrw.database.windows.net;Initial Catalog=OnboardingDB;User ID=westr;Password=22Baker1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-T5KHG9IS\SQLEXPRESS;Initial Catalog=OnboardingDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OnboardingDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-T5KHG9IS\SQLEXPRESS;initial catalog=OnboardingDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OnboardingDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mvpserverrw.database.windows.net;initial catalog=OnboardingDB;user id=westr;password=22Baker1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="OnboardingContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mvpserverrw.database.windows.net;Initial Catalog=OnboardingDB;User ID=westr;Password=22Baker1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>